@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;1,200;1,300&display=swap');

html {
    margin: 0px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 18px;
    margin: 30px;
    padding: 0;
    line-height: 35px;
    color: black;
    display: flex;
    flex-direction: column;
}

div {
    display: inline-block
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 175px;
}

img.hide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
    width: 550px;
}

span {
    font-size: 12px;
    color:rgb(255, 68, 174);
    margin-right: 10px;
}

.about {
    margin-bottom: 20px;
}

.links {
    margin-left: 20px;
}

.hide {
    display: none;
  }

.preview:hover + .hide {
    display: block;
}

.contact {
    bottom: 30px;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    html, body {
        margin: 5px;
        line-height: 30px;
    }
    .preview:hover + .hide {
        display: none;
    }
  }