@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    margin: 2px;
    padding: 0;
    background: rgb(50, 50, 50);
    color: rgb(221, 221, 221);
}

a {
    color:rgb(255, 177, 242);
    text-decoration: none;
}

a:hover {
    cursor: default;
    background: rgb(255, 177, 242);
    color: rgb(50, 50, 50);;
}

.about {
    margin-bottom: 30px;
}