@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;1,200;1,300&display=swap');

html {
    margin: 0px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 17px;
    margin: 30px;
    padding: 0;
    line-height: 35px;
    display: flex;
    flex-direction: column;
}

div {
    display: inline-block
}

a {
    color: black;
    text-decoration: none;
}


img.hide {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    z-index: -1000;
}

span {
    font-size: 14px;
    color:rgb(255, 77, 181);
    margin-right: 10px;
}

.about {
    margin-bottom: 20px;
}

#first {
    margin-top: 130px;
}

.links {
    margin-left: 20px;
}

.hide {
    display: none;
  }

.preview:hover + .hide {
    display: block;
}

.contact {
    bottom: 30px;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    html, body {
        margin: 5px;
        line-height: 30px;
        font-size: 15px;
    }

    #first {
        margin-top: 0px;
    }

    .preview:hover + .hide {
        display: none;
    }

    span {
        font-size: 10px;
    }
  }